.card-container {
  width: 25rem;
  display: inline-flex;
  margin: 5rem auto;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 0;
  border-radius: 2rem 2rem 0 0;
 
}

